{% extends 'base.html' %}
{% block content %}
<h1>Log Workout</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>{{ form.date.label }} {{ form.date(size=20) }}</p>
    <p>{{ form.type.label }} {{ form.type(size=20) }}</p>
    <p>{{ form.sets.label }} {{ form.sets() }}</p>
    <p>{{ form.weight.label }} {{ form.weight() }}</p>
    <p>{{ form.reps.label }} {{ form.reps() }}</p>
    <p>{{ form.calories.label }} {{ form.calories() }}</p>
    <p>{{ form.notes.label }} {{ form.notes(rows=3, cols=40) }}</p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
